main.register {
  display: flex;
  align-items: center;
  flex-direction: column;
  min-height: 83.2vh;
  margin: 0;
  align-items: center;
}
#root > main {
  flex: 1;
  display: flex;
}
main.register section.login form.login button.login {
  margin-top: 1rem;
}
form.register {
  border: 1px solid rgba(160, 160, 160);
  padding: 1rem;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
@media screen and (max-width: 768px) {
  #root > main > main > section.register {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  #header > nav > ul > li > a {
    padding: 0;
  }
}
p.register_message {
  margin-top: 0;
}
